extends layout.html

block content
  .container-fluid
    h2.text-center.text-success.jumbotron User Management App with NodeJs and Redis
    br
    .col-md-4.col-md-offset-4
      h3 Search Users
      if obj
        p.retr User Has been retrived successfully!
      else if error
        p.warn User doesn't exist. Try creating a new one or type the right ID
      form.navbar-form.navbar-left(role='search', method='POST', action='/users/search')
        .form-group
          input.form-control(type='text', placeholder='Search users by ID', name='id')
        button.btn.btn-default(type='submit', value='search') Search
